version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: aeora-mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27018:27017"

  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aeora
    restart: always
    ports:
      - "127.0.0.1:3003:3003"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

volumes:
  mongo-data:
